$primary: rgb(66, 185, 131);
$highlight: rgba(66, 185, 131, 0.5);
$highlight_disabled: rgba(211, 211, 211, 0.5);
$text_disabled: rgb(211, 211, 211);
$text: rgb(20, 20, 20);
$text_on-primary: rgb(211, 211, 211);
